HOST=127.0.0.1
PORT=3000
FISH_AUDIO_MOCK_MODE=true
FISH_AUDIO_API_KEY=
FISH_AUDIO_REFERENCE_ID=
FISH_AUDIO_MODEL=s2.1-pro-free
FISH_AUDIO_PRICE_PER_MILLION_BYTES=0
FISH_AUDIO_API_BASE_URL=https://api.fish.audio
FISH_AUDIO_MAX_INPUT_BYTES=10000
FISH_AUDIO_OUTPUT_FORMAT=mp3
FISH_AUDIO_TIMEOUT_MS=30000
FISH_AUDIO_MAX_RETRIES=2
ALLOWED_EXTENSION_ID=
